
.votebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 215, 233);
    max-height: 70px;
    max-width: 70px;
    margin-top: 5px;
    margin-left: 5px;
}
.postTile img{
    width: 150px;
    margin: -20px 10px 10px 10px;
    border: 3px solid rgb(0, 101, 164);
}
.postdata{
    display: inline
    /* flex-direction: row; */
}
.postTile{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(0, 101, 164);
    margin: 0px 0px 0px 0px;
}
.postTile span{
    margin: 5px;
}
.pTitle {
    padding-left: 15px;
    color: blue;
    font-size: 25px;
    font-weight: bold;
}

.pTitle span:link {
    color: blue;
  }
  /* visited link */
  .pTitle span:visited {
    color: purple;
  }
.author {
    margin-left: 20px;
}
.downvotebutton {
    background-image: url(downvote.png);
  background-position: 30% 60%;
  background-repeat: no-repeat;
  /* put the height and width of your image here */
  background-size: cover;
  margin-top: 4px;
}

.upvotebutton {
    background-image: url(upvote.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    background-size: cover;
}
.postDescription {
    text-indent: 38px;
    margin-left: 5px;
    font-size: 20px;
}